name: Checks

on:
  push:
    branches: [ master, "[0-9]+.[0-9]+" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: python -m pip install "tox>=4.0"

      - name: Run tests
        run: tox -e py${{ matrix.python-version }} -- -q

  quality:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install tox
        run: python -m pip install "tox>=4.0"

      - name: Run lint, type, pre-commit, coverage
        run: tox -e lint,type,precommit,coverage
